!!!
%html
  %head
    %title Wikitrip
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %header
      .container    
        %ul.nav.nav-pills.application_nav
          .span
          %li
            %a{:herf => root_path} WIKITRIP
          %li
            = link_to image_tag("glyphicons_335_pin_classic.png"), "#"
            /= link_to(image_tag("glyphicons_335_pin_classic.png")) #{:href => "#"}
          %li
            = link_to image_tag("glyphicons_319_sort.png"), "#"
          %li
            = link_to image_tag("glyphicons_045_calendar.png"), "#"
          .navbar-form.pull-right
            #button.btn.btn-danger.btn-large
              -if user_signed_in?
                = link_to "SIGN OUT", destroy_user_session_path, :method => :delete 
              -else
                = link_to "SIGN IN", user_omniauth_authorize_path(:facebook)
      /%header
      /  #div_register
      /   #button.btn.btn-danger.btn-large
      /     -if user_signed_in?
      /       = link_to "SIGN OUT", destroy_user_session_path, :method => :delete 
      /     -else
      /       = link_to "SIGN IN", user_omniauth_authorize_path(:facebook)
      / %nav.span12
      /   .span1
      /     %a{:herf => root_path} WIKITRIP
      /   .span10
      /     %ul.nav.nav-pills.application_nav
      /       %li.active
      /         %a{:href => "#"} PinUp
      /       %li
      /         %a{:href => "#"} Dashboard
      /       %li
      /         %a{:href => "#"} Calendar
    .container
      = yield
      %div